<% include _header %>
<h1>Edit your profile</h1>
<form action="/edit" method="POST">
    <input name="displayname" type="text" value="<%= currentUser.displayname %>" class="form-control" placeholder="displayname" required autofocus>
    <textarea name="bio" type="password" class="form-control" placeholder="bio">
        <%= currentUser.bio || "" %>
    </textarea>
    <input type="submit" value="Update" class="btn btn-primary btn-block">
</form>
<% include _footer %>